* {
   box-sizing: border-box;
/*    helps with flexbox*/
}

/*#navbar {*/
/*    background: darkgrey;*/
/*    width: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    margin: auto;*/
/*    position:relative;*/
/*    flex-basis: auto;*/
/*}*/

/*div {*/
/*    width: 33%;*/
/*}*/

/*div.left {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*}*/

/*div.center {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*div.right {*/
/*    display: flex;*/
/*    justify-content: flex-end;*/
/*}*/

/*a {*/
/*    font-size: .7em;*/
/*    text-decoration: none;*/
/*    color: black;*/
/*    text-align: center;*/
/*    flex-basis: content;*/
/*    margin: 0 2px 0 2px;*/
/*}*/

/*a.logo {*/
/*    font-size: 3em;*/
/*    padding: .2em;*/
/*}*/

header nav a {
   color: black;
   /*   only applies to anchor tags in nav tags that are in header tags*/
   text-decoration: none;
   /*   removes underline*/
}

header nav a:hover {
    color: lightskyblue;
}

nav {
   display: flex;
}

nav ul {
   display: flex;
   list-style-type: none;
}