* {
   box-sizing: border-box;
}

body {
   margin: 0;
}

nav {
   background-color: lightgrey;
   display: flex;
   justify-content: space-between;
   /*align-items: center;*/
}

header nav a {
   color: black;
   /*   only applies to anchor tags in nav tags that are in header tags*/
   display: inline-block;
   text-decoration: none;
   /*   removes underline*/
   font-family: 'Work Sans', sans-serif;
   padding: 2em .5em;
}

header nav .nav-bar-logo {
   position: absolute;
   width: 100%;
   text-align: center;
/*   made the width of its box take up the entire page, because its position is absolute, it doesn't interfere with the other flex boxes. Now, all we did was center the text*/
}

header nav .nav-bar-logo a {
   font-size: 3em;
   padding: .27em 0;
/*   what did this do?*/
}

header nav .nav-bar-logo li {
   width: 100%;
}

header nav a:hover {
    color: blue;
    background-color: lightskyblue;
}

header nav ul {
   display: flex;
   list-style: none;
   padding: 0;
   margin: 0;
   align-items: center;
}

ul:not(.nav-bar-logo) {
   z-index: 100;
}
/*what?*/