/*this is is a CSS stylesheet*/

/*.fancy-header {*/
/*    color: purple;*/
/*}*/
/*.fill-blue {*/
/*    background-color: cornflowerblue;*/
/*}*/
/*.fill-red {*/
/*    background-color: red*/
/*}*/

h1 {
    text-align: center;
}

h1, h2 {
    color: #32a9a7; /*special blue color in RGB Hexagonal code*/
    text-decoration: underline;
}

body {
    background-color: #ffc13c; /*special orange color*/
    background-image: url("../img/retro-sunset.jpg");
    font-family:cursive;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

ul {
    list-style-type: circle
}

table, tr, td {
    border: 1px solid black
}

.underline {
    text-decoration: underline;
    font-weight: bold;
}

.white {
    color: white;
}

a:hover {
    color: orange;
}

a:visited {
    color: cornflowerblue;
}

a:active {
    color: mediumpurple;
}
